BROKER=tastytrade
TASTY_USERNAME=your_tastytrade_login
TASTY_PASSWORD=your_tastytrade_password
TASTY_ACCOUNT_NUMBER=your_tastytrade_account_number
TASTY_SANDBOX=true
TASTY_API_BASE=https://api.cert.tastyworks.com
SECRET_KEY=replace_with_long_random_secret
APP_USERNAME=local_admin
APP_PASSWORD=replace_with_strong_password
APP_2FA_SECRET=JBSWY3DPEHPK3PXP
APP_TOKEN_TTL_SECONDS=28800
